In [3]:
import numpy as np
import pandas as pd

In [4]:
df_comp = context.catalog.load("raw_foehn_data")

2021-02-12 18:37:32,239 - kedro.io.data_catalog - INFO - Loading data from `raw_foehn_data` (CSVDataSet)...

In [5]:
df_old = context.catalog.load("raw_north_foehn_data_old")

2021-02-12 18:39:00,861 - kedro.io.data_catalog - INFO - Loading data from `raw_north_foehn_data_old` (CSVDataSet)...

In [11]:
assert (df_comp["date"] == df_old["date"]).all()

In [16]:
for col in df_comp.filter(regex="foehn"):
    print(df_comp[col].value_counts(dropna=False))

0.0    1999951
NaN      87948
2.0      13951
1.0       1990
Name: AIG_foehn, dtype: int64
0.0    1911586
2.0     103663
NaN      80539
1.0       8052
Name: ALT_foehn, dtype: int64
0.0    1826842
NaN     107836
2.0      89676
1.0      79486
Name: CHU_foehn, dtype: int64
0.0    1902764
2.0      99815
NaN      82778
1.0      18483
Name: DAV_foehn, dtype: int64
0.0    1859970
NaN     195601
2.0      44074
1.0       4195
Name: ENG_foehn, dtype: int64
0.0    1981586
NaN      83070
2.0      37516
1.0       1668
Name: GLA_foehn, dtype: int64
0.0    2018673
NaN      82418
2.0       1577
1.0       1172
Name: GUT_foehn, dtype: int64
0.0    2002926
NaN      91959
2.0       7371
1.0       1584
Name: INT_foehn, dtype: int64
0.0    2012204
NaN      84500
2.0       5277
1.0       1859
Name: LUZ_foehn, dtype: int64
0.0    1895278
2.0      98208
NaN      87646
1.0      22708
Name: MVE_foehn, dtype: int64
0.0    1979562
NaN      88721
2.0      19229
1.0      16328
Name: SIO_foehn, dtype: int64
0.0    2017157
NaN      82535
2.0       3143
1.0       1005
Name: SMA_foehn, dtype: int64
0.0    1944731
NaN     113603
2.0      37975
1.0       7531
Name: STG_foehn, dtype: int64
0.0    1925671
NaN      83943
2.0      75943
1.0      18283
Name: VAD_foehn, dtype: int64
0.0    1879376
2.0     122680
NaN      93063
1.0       8721
Name: VIS_foehn, dtype: int64
0.0    2010373
NaN      86461
2.0       5101
1.0       1905
Name: WAE_foehn, dtype: int64
0.0    1471090
NaN     594868
2.0      36700
1.0       1182
Name: ABO_foehn, dtype: int64
0.0    1369813
NaN     702038
2.0      30206
1.0       1783
Name: HOE_foehn, dtype: int64
NaN    1418030
0.0     641678
2.0      29835
1.0      14297
Name: LUG_foehn, dtype: int64
NaN    1384869
0.0     668576
2.0      36293
1.0      14102
Name: MAG_foehn, dtype: int64
NaN    1577335
0.0     469729
2.0      51241
1.0       5535
Name: PIO_foehn, dtype: int64
NaN    1486585
0.0     532532
2.0      76957
1.0       7766
Name: ROB_foehn, dtype: int64
NaN    2004306
0.0      92694
2.0       5295
1.0       1545
Name: AND_foehn, dtype: int64
NaN    1587729
0.0     510646
2.0       5217
1.0        248
Name: ARH_foehn, dtype: int64
NaN    1903855
0.0     185576
2.0      10039
1.0       4370
Name: CEV_foehn, dtype: int64
NaN    1907001
0.0     174625
2.0      16300
1.0       5914
Name: COM_foehn, dtype: int64
NaN    2004405
0.0      98397
2.0        812
1.0        226
Name: EBK_foehn, dtype: int64
NaN    2006516
0.0      96371
2.0        901
1.0         52
Name: EIN_foehn, dtype: int64
NaN    2004358
0.0      91413
2.0       6234
1.0       1835
Name: ELM_foehn, dtype: int64
NaN    1789395
0.0     300588
2.0      12158
1.0       1699
Name: EVI_foehn, dtype: int64
NaN    2004228
0.0      99088
2.0        505
1.0         19
Name: GIH_foehn, dtype: int64
NaN    1904371
0.0     190721
2.0       6174
1.0       2574
Name: GRO_foehn, dtype: int64
NaN    1740045
0.0     351779
2.0      11865
1.0        151
Name: MER_foehn, dtype: int64
NaN    2004346
0.0      96648
2.0       2532
1.0        314
Name: OBR_foehn, dtype: int64
NaN    1904180
0.0     194600
2.0       4030
1.0       1030
Name: OTL_foehn, dtype: int64
NaN    2004228
0.0      89949
2.0       7266
1.0       2397
Name: RAG_foehn, dtype: int64
NaN    1905484
0.0     183248
2.0      11038
1.0       4070
Name: SBE_foehn, dtype: int64
NaN    1903855
0.0     187979
2.0       7699
1.0       4307
Name: SBO_foehn, dtype: int64
NaN    1904165
0.0     182276
2.0      12541
1.0       4858
Name: VIO_foehn, dtype: int64

In [26]:
(df_comp == "999").sum().sum()

0

In [27]:
for col in df_old:
    df_comp[col] = df_comp[col].fillna(df_old[col])

In [28]:
for col in df_comp.filter(regex="foehn"):
    print(df_comp[col].value_counts(dropna=False))

0.0    1999951
NaN      87948
2.0      13951
1.0       1990
Name: AIG_foehn, dtype: int64
0.0    1911586
2.0     103663
NaN      80539
1.0       8052
Name: ALT_foehn, dtype: int64
0.0    1826842
NaN     107836
2.0      89676
1.0      79486
Name: CHU_foehn, dtype: int64
0.0    1902764
2.0      99815
NaN      82778
1.0      18483
Name: DAV_foehn, dtype: int64
0.0    1859970
NaN     195601
2.0      44074
1.0       4195
Name: ENG_foehn, dtype: int64
0.0    1981586
NaN      83070
2.0      37516
1.0       1668
Name: GLA_foehn, dtype: int64
0.0    2018673
NaN      82418
2.0       1577
1.0       1172
Name: GUT_foehn, dtype: int64
0.0    2002926
NaN      91959
2.0       7371
1.0       1584
Name: INT_foehn, dtype: int64
0.0    2012204
NaN      84500
2.0       5277
1.0       1859
Name: LUZ_foehn, dtype: int64
0.0    1895278
2.0      98208
NaN      87646
1.0      22708
Name: MVE_foehn, dtype: int64
0.0    1979562
NaN      88721
2.0      19229
1.0      16328
Name: SIO_foehn, dtype: int64
0.0    2017157
NaN      82535
2.0       3143
1.0       1005
Name: SMA_foehn, dtype: int64
0.0    1944731
NaN     113603
2.0      37975
1.0       7531
Name: STG_foehn, dtype: int64
0.0    1925671
NaN      83943
2.0      75943
1.0      18283
Name: VAD_foehn, dtype: int64
0.0    1879376
2.0     122680
NaN      93063
1.0       8721
Name: VIS_foehn, dtype: int64
0.0    2010373
NaN      86461
2.0       5101
1.0       1905
Name: WAE_foehn, dtype: int64
0.0    1471090
NaN     594868
2.0      36700
1.0       1182
Name: ABO_foehn, dtype: int64
0.0    1369813
NaN     702038
2.0      30206
1.0       1783
Name: HOE_foehn, dtype: int64
0.0    1816573
NaN     159296
2.0     109850
1.0      18121
Name: LUG_foehn, dtype: int64
0.0    1809498
NaN     159298
2.0      98163
1.0      36881
Name: MAG_foehn, dtype: int64
0.0    1666964
2.0     258174
NaN     159296
1.0      19406
Name: PIO_foehn, dtype: int64
0.0    1670765
2.0     253975
NaN     159296
1.0      19804
Name: ROB_foehn, dtype: int64
NaN    2004306
0.0      92694
2.0       5295
1.0       1545
Name: AND_foehn, dtype: int64
NaN    1587729
0.0     510646
2.0       5217
1.0        248
Name: ARH_foehn, dtype: int64
NaN    1776620
0.0     303607
2.0      18790
1.0       4823
Name: CEV_foehn, dtype: int64
0.0    1441323
NaN     478090
2.0     166029
1.0      18398
Name: COM_foehn, dtype: int64
NaN    2004405
0.0      98397
2.0        812
1.0        226
Name: EBK_foehn, dtype: int64
NaN    2006516
0.0      96371
2.0        901
1.0         52
Name: EIN_foehn, dtype: int64
NaN    2004358
0.0      91413
2.0       6234
1.0       1835
Name: ELM_foehn, dtype: int64
NaN    1789395
0.0     300588
2.0      12158
1.0       1699
Name: EVI_foehn, dtype: int64
NaN    2004228
0.0      99088
2.0        505
1.0         19
Name: GIH_foehn, dtype: int64
NaN    1726676
0.0     359770
2.0      13959
1.0       3435
Name: GRO_foehn, dtype: int64
NaN    1740045
0.0     351779
2.0      11865
1.0        151
Name: MER_foehn, dtype: int64
NaN    2004346
0.0      96648
2.0       2532
1.0        314
Name: OBR_foehn, dtype: int64
0.0    1854903
NaN     159621
2.0      72988
1.0      16328
Name: OTL_foehn, dtype: int64
NaN    2004228
0.0      89949
2.0       7266
1.0       2397
Name: RAG_foehn, dtype: int64
0.0    1807996
NaN     160925
2.0     125244
1.0       9675
Name: SBE_foehn, dtype: int64
0.0    1596411
NaN     395888
2.0      86030
1.0      25511
Name: SBO_foehn, dtype: int64
NaN    1742796
0.0     329729
2.0      24732
1.0       6583
Name: VIO_foehn, dtype: int64

In [39]:
features = set(df_comp.columns.tolist()) - set(["date"])
df_comp.dropna(how="all", axis=0, subset=features)

,ABO_DD,AIG_DD,ALT_DD,CHU_DD,COM_DD,DAV_DD,ENG_DD,GLA_DD,GUE_DD,GUT_DD,...,OTL_foehn,RAG_foehn,SBE_foehn,SBO_foehn,VIO_foehn,EBK_Z850,EIN_Z850,ELM_Z850,VIO_Z850,date
52524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-12-30 18:00:00
52668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-12-31 18:00:00
52686,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-12-31 21:00:00
52704,NaN,229.0,90.0,207.0,NaN,342.0,NaN,112.0,217.0,261.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1981-01-01 00:00:00
52705,NaN,164.0,360.0,180.0,NaN,360.0,NaN,301.0,216.0,255.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1981-01-01 00:10:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2103835,281.0,344.0,129.0,198.0,324.0,251.0,87.0,360.0,60.0,285.0,...,0.0,0.0,0.0,0.0,0.0,1569.4,1583.5,1590.1,1602.4,2019-12-31 23:10:00
2103836,323.0,113.0,134.0,187.0,331.0,147.0,93.0,82.0,59.0,241.0,...,0.0,0.0,0.0,0.0,0.0,1567.9,1583.4,1590.3,1600.3,2019-12-31 23:20:00
2103837,231.0,140.0,130.0,177.0,337.0,158.0,94.0,146.0,58.0,300.0,...,0.0,0.0,0.0,0.0,0.0,1567.1,1581.5,1592.6,1599.0,2019-12-31 23:30:00
2103838,269.0,149.0,133.0,167.0,325.0,119.0,91.0,138.0,59.0,280.0,...,0.0,0.0,0.0,0.0,0.0,1565.9,1581.7,1596.3,1598.5,2019-12-31 23:40:00
2103839,341.0,154.0,134.0,176.0,334.0,67.0,268.0,114.0,65.0,272.0,...,0.0,0.0,0.0,0.0,0.0,1565.1,1579.1,1591.0,1597.9,2019-12-31 23:50:00

In [38]:
set(df_comp.columns.tolist()) - set(["date"])

{'ABO_DD',
 'ABO_FF',
 'ABO_FFX',
 'ABO_P',
 'ABO_QNH',
 'ABO_TT',
 'ABO_UU',
 'ABO_Z850',
 'ABO_foehn',
 'AIG_DD',
 'AIG_FF',
 'AIG_FFX',
 'AIG_P',
 'AIG_QNH',
 'AIG_SLP',
 'AIG_TT',
 'AIG_UU',
 'AIG_foehn',
 'ALT_DD',
 'ALT_FF',
 'ALT_FFX',
 'ALT_P',
 'ALT_QNH',
 'ALT_SLP',
 'ALT_TT',
 'ALT_UU',
 'ALT_foehn',
 'AND_DD',
 'AND_FF',
 'AND_FFX',
 'AND_P',
 'AND_QNH',
 'AND_TT',
 'AND_UU',
 'AND_Z850',
 'AND_foehn',
 'ARH_DD',
 'ARH_FF',
 'ARH_FFX',
 'ARH_P',
 'ARH_QNH',
 'ARH_SLP',
 'ARH_TT',
 'ARH_UU',
 'ARH_foehn',
 'CEV_DD',
 'CEV_FF',
 'CEV_FFX',
 'CEV_P',
 'CEV_QNH',
 'CEV_SLP',
 'CEV_TT',
 'CEV_UU',
 'CEV_foehn',
 'CHU_DD',
 'CHU_FF',
 'CHU_FFX',
 'CHU_P',
 'CHU_QNH',
 'CHU_SLP',
 'CHU_TT',
 'CHU_UU',
 'CHU_foehn',
 'COM_DD',
 'COM_FF',
 'COM_FFX',
 'COM_P',
 'COM_QNH',
 'COM_SLP',
 'COM_TT',
 'COM_UU',
 'COM_foehn',
 'DAV_DD',
 'DAV_FF',
 'DAV_FFX',
 'DAV_P',
 'DAV_QNH',
 'DAV_TT',
 'DAV_UU',
 'DAV_Z850',
 'DAV_foehn',
 'EBK_DD',
 'EBK_FF',
 'EBK_FFX',
 'EBK_P',
 'EBK_QNH',
 'EBK_TT',
 'EBK_UU',
 'EBK_Z850',
 'EBK_foehn',
 'EIN_DD',
 'EIN_FF',
 'EIN_FFX',
 'EIN_P',
 'EIN_QNH',
 'EIN_TT',
 'EIN_UU',
 'EIN_Z850',
 'EIN_foehn',
 'ELM_DD',
 'ELM_FF',
 'ELM_FFX',
 'ELM_P',
 'ELM_QNH',
 'ELM_TT',
 'ELM_UU',
 'ELM_Z850',
 'ELM_foehn',
 'ENG_DD',
 'ENG_FF',
 'ENG_FFX',
 'ENG_P',
 'ENG_QNH',
 'ENG_TT',
 'ENG_UU',
 'ENG_Z850',
 'ENG_foehn',
 'EVI_DD',
 'EVI_FF',
 'EVI_FFX',
 'EVI_P',
 'EVI_QNH',
 'EVI_SLP',
 'EVI_TT',
 'EVI_UU',
 'EVI_foehn',
 'GIH_DD',
 'GIH_FF',
 'GIH_FFX',
 'GIH_P',
 'GIH_QNH',
 'GIH_SLP',
 'GIH_TT',
 'GIH_UU',
 'GIH_foehn',
 'GLA_DD',
 'GLA_FF',
 'GLA_FFX',
 'GLA_P',
 'GLA_QNH',
 'GLA_SLP',
 'GLA_TT',
 'GLA_UU',
 'GLA_foehn',
 'GRO_DD',
 'GRO_FF',
 'GRO_FFX',
 'GRO_P',
 'GRO_QNH',
 'GRO_SLP',
 'GRO_TT',
 'GRO_UU',
 'GRO_foehn',
 'GUE_DD',
 'GUE_FF',
 'GUE_FFX',
 'GUE_P',
 'GUE_QNH',
 'GUE_TT',
 'GUE_UU',
 'GUE_Z850',
 'GUT_DD',
 'GUT_FF',
 'GUT_FFX',
 'GUT_P',
 'GUT_QNH',
 'GUT_SLP',
 'GUT_TT',
 'GUT_UU',
 'GUT_foehn',
 'HOE_DD',
 'HOE_FF',
 'HOE_FFX',
 'HOE_P',
 'HOE_QNH',
 'HOE_TT',
 'HOE_UU',
 'HOE_Z850',
 'HOE_foehn',
 'INT_DD',
 'INT_FF',
 'INT_FFX',
 'INT_P',
 'INT_QNH',
 'INT_SLP',
 'INT_TT',
 'INT_UU',
 'INT_foehn',
 'LUG_DD',
 'LUG_FF',
 'LUG_FFX',
 'LUG_P',
 'LUG_QNH',
 'LUG_SLP',
 'LUG_TT',
 'LUG_UU',
 'LUG_foehn',
 'LUZ_DD',
 'LUZ_FF',
 'LUZ_FFX',
 'LUZ_P',
 'LUZ_QNH',
 'LUZ_SLP',
 'LUZ_TT',
 'LUZ_UU',
 'LUZ_foehn',
 'MAG_DD',
 'MAG_FF',
 'MAG_FFX',
 'MAG_P',
 'MAG_QNH',
 'MAG_SLP',
 'MAG_TT',
 'MAG_UU',
 'MAG_foehn',
 'MER_DD',
 'MER_FF',
 'MER_FFX',
 'MER_P',
 'MER_QNH',
 'MER_SLP',
 'MER_TT',
 'MER_UU',
 'MER_foehn',
 'MVE_DD',
 'MVE_FF',
 'MVE_FFX',
 'MVE_P',
 'MVE_QNH',
 'MVE_TT',
 'MVE_UU',
 'MVE_Z850',
 'MVE_foehn',
 'OBR_DD',
 'OBR_FF',
 'OBR_FFX',
 'OBR_P',
 'OBR_QNH',
 'OBR_SLP',
 'OBR_TT',
 'OBR_UU',
 'OBR_foehn',
 'OTL_DD',
 'OTL_FF',
 'OTL_FFX',
 'OTL_P',
 'OTL_QNH',
 'OTL_SLP',
 'OTL_TT',
 'OTL_UU',
 'OTL_foehn',
 'PIO_DD',
 'PIO_FF',
 'PIO_FFX',
 'PIO_P',
 'PIO_QNH',
 'PIO_TT',
 'PIO_UU',
 'PIO_Z850',
 'PIO_foehn',
 'RAG_DD',
 'RAG_FF',
 'RAG_FFX',
 'RAG_P',
 'RAG_QNH',
 'RAG_SLP',
 'RAG_TT',
 'RAG_UU',
 'RAG_foehn',
 'ROB_DD',
 'ROB_FF',
 'ROB_FFX',
 'ROB_P',
 'ROB_QNH',
 'ROB_TT',
 'ROB_UU',
 'ROB_Z850',
 'ROB_foehn',
 'SBE_DD',
 'SBE_FF',
 'SBE_FFX',
 'SBE_P',
 'SBE_QNH',
 'SBE_TT',
 'SBE_UU',
 'SBE_Z850',
 'SBE_foehn',
 'SBO_DD',
 'SBO_FF',
 'SBO_FFX',
 'SBO_P',
 'SBO_QNH',
 'SBO_SLP',
 'SBO_TT',
 'SBO_UU',
 'SBO_foehn',
 'SIO_DD',
 'SIO_FF',
 'SIO_FFX',
 'SIO_P',
 'SIO_QNH',
 'SIO_SLP',
 'SIO_TT',
 'SIO_UU',
 'SIO_foehn',
 'SMA_DD',
 'SMA_FF',
 'SMA_FFX',
 'SMA_P',
 'SMA_QNH',
 'SMA_SLP',
 'SMA_TT',
 'SMA_UU',
 'SMA_foehn',
 'STG_DD',
 'STG_FF',
 'STG_FFX',
 'STG_P',
 'STG_QNH',
 'STG_TT',
 'STG_UU',
 'STG_Z850',
 'STG_foehn',
 'VAD_DD',
 'VAD_FF',
 'VAD_FFX',
 'VAD_P',
 'VAD_QNH',
 'VAD_SLP',
 'VAD_TT',
 'VAD_UU',
 'VAD_foehn',
 'VIO_DD',
 'VIO_FF',
 'VIO_FFX',
 'VIO_P',
 'VIO_QNH',
 'VIO_TT',
 'VIO_UU',
 'VIO_Z850',
 'VIO_foehn',
 'VIS_DD',
 'VIS_FF',
 'VIS_FFX',
 'VIS_P',
 'VIS_QNH',
 'VIS_TT',
 'VIS_UU',
 'VIS_Z850',
 'VIS_foehn',
 'WAE_DD',
 'WAE_FF',
 'WAE_FFX',
 'WAE_P',
 'WAE_QNH',
 'WAE_SLP',
 'WAE_TT',
 'WAE_UU',
 'WAE_foehn'}